parameters:
    level: 6
    paths:
        - src

    tmpDir: build/phpstan

    checkModelProperties: true

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
